@charset "utf-8"; 
/*====================================
STYLE.CSS
=====================================*/
/*
Author:Joefrey Mahusay
Twitter:@joefrey
Author URL:html5awesome.com
Date:01 June 2011
*/
/*====================================
RESET
=====================================*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{margin:0; padding:0}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section{display:block}

table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
address, caption, cite, dfn, th, var{font-style:normal; font-weight:normal}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
q:before, q:after{content:''}
abbr, acronym{border:0}

/* Clearfix ----------- */
.clearfix:after{ content:"";  display:block;  clear:both;  visibility:hidden;  line-height:0;  height:0}
.clearfix{ display:inline-block}
html[xmlns] .clearfix{ display:block}
* html .clearfix{ height:1%}

/*====================================
FONT-FACE
=====================================*/
@font-face{ font-family:'OstrichSansRoundedMedium';src:url('../fonts/ostrich-rounded-webfont.eot');src:url('../fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-rounded-webfont.woff') format('woff'),  url('../fonts/ostrich-rounded-webfont.ttf') format('truetype'), url('../fonts/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');}

/*====================================
MAIN LAYOUT
=====================================*/
html{	
	overflow-y:scroll; 
	background: #FFFFFF;
	font-size: 100%;
}
body{	
	min-height:100%; 
	float:left; 
	width:100%;
	font: 300 14px/22px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #FFFFFF;
}

body#outer #header_inner, 
body#inner #header_inner{max-width:1200px; margin:0 auto; border-bottom: 1px solid #E3E3E8; margin-bottom: 60px;}
body#inner #header_inner{/*margin-bottom:40px*/}
#tagline {float: left;margin: 0;}
.inner {margin: 0 auto;width: 1200px;}
.inner-footer {
  padding:15px 0;
  border-top:1px solid #000;
  border-bottom:1px solid #323334;
  background:#2D2E2F;
  background:-moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 15px), #2D2E2F;
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 15px), #2D2E2F;
  background:-o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 15px), #2D2E2F;
  box-shadow:0 -1px 0 #fff;
  color:#666666;
}
.inner-footer h4 {
  color: #CCCCCC;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.inner-footer p {
  line-height: 180%;
}

.inner-footer p a {
  color: #6F7478;
}

.inner-footer p a:hover {
  color: #FFF;
}

.inner-footer .post-title {
  color: #6F7478;
  font-size: 16px;
}

.inner-footer .post-title:hover {
  color: #FFF;
}

.member-info p {
  margin-bottom: 0px;
}

#slider_wrap{max-width:1200px; margin:0 auto 0px auto; position:relative; clear:both; border-bottom: 5px solid #000000; padding-bottom: 60px; overflow:hidden; height:425px;}

/* featured service */
.featured_service{border-bottom:1px solid #c2bfba; padding-bottom:20px}
.featured_service header img{float:left; margin:-2px 20px 0 0}
.featured_service header h3{margin:0 0 .7em 0; /* 24px */}
.featured_service p{clear:left}

/*main-content*/
#main-content{margin-bottom:0em; width:1200px; margin: 0 auto;}

/* intro */
.intro{padding:20px 0 40px 0; background:url(light-images/hover_bg.gif) repeat-x bottom left; float:left; margin-bottom:2.5em; width:100%}
.intro .intro_text{float:left; margin:0; width:80.70%}
.intro .intro_text h2{margin:0}
.intro .button{background:url(light-images/arrow.png) no-repeat left center; padding-left:30px; float:right}

/*latest_work*/
#latest_work header{float:left; margin-right:10px}
.thumb_list{clear:left; margin:0; padding:0; width:100%}
.thumb_list li{float:left; margin-right:4.29166666666667%; /* 22px / 633px */width:21.27659574468085%; /* 200px / 940px */list-style:none}
.sidebox .thumb_list li a img{width:100%}
.thumb_list li a{background:url(light-images/strife_bg.gif) repeat; float:left; padding:9px; display:block; max-width:100%}
.thumb_list li a:hover{background:#ffdf39}
.thumb_list li a img{float:left; max-width:100%}
.thumb_list li.last{margin-right:0}

/*expertise*/
.tour-row, .tour-row-alt {
  border-bottom: 1px solid #E4E4E4;
}

.tour-row article {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.tour-row article.comments header {
    border-left: 1px solid #E4E4E4;
    float: right;
    height: 450px;
    margin-top: 44px;
    padding: 54px 30px 0 70px;
    width: 380px;
}

.tour-row article.comments img {
    float: left;
    margin: 18px 0 40px -18px;
}

.tour-row-alt article {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.tour-row-alt article.comments header {
    border-right: 1px solid #E4E4E4;
    float: left;
    height: 450px;
    margin-top: 44px;
    padding: 54px 70px 0 30px;
    width: 380px;
}

.tour-row-alt article.comments img {
    float: right;
    margin: 18px 0 40px -18px;
}

/*sidebar products*/
.sidebox .thumb_list{ padding-bottom:10px; }
.sidebox .thumb_list li{width:47.4%; margin-right:4.29166666666667%; /* 22px / 633px */margin-bottom:10px}
.sidebox .thumb_list li a{padding:5px}
.sidebox .thumb_list li.second, 
.sidebox .thumb_list li.fourth{margin-right:0}

/*team*/
.team li{margin-right:2.29166666666667%; width:23.17659574468085%}
.team li img{margin-bottom:20px}
.team .meta b, .team .meta span{display:block; text-align:center; font-size:0.9em; text-transform:uppercase}
.team .meta span{font-size:10px; font-family:Georgia,"Times New Roman",Times,serif; color:#b2aea8; font-style:italic}
.team li.last{margin-right:0}

/*footer*/
#footer{float:left; width:100%; margin-top: 93px; padding: 0; background: none repeat scroll 0 0 #F0F0F0;}

.one_fourth h4{text-shadow:0px 1px 0px #fff; font-style:normal; font-size:1.75em; margin-top:10px}
.recent_blog .recent_entry{float:left; width:100%; padding:10px 0; margin-bottom:10px; border-bottom:1px solid #d5d2cc; margin-top:-14px;}
.recent_blog .recent_entry .tbumbnail{}
.recent_blog .recent_entry .tbumbnail a{float:left; padding:4px; background:url(light-images/strife_bg2.gif) repeat; max-width:100%;}
.recent_blog .recent_entry .tbumbnail a:hover{background:#ffdf39}
.recent_blog .recent_entry .tbumbnail a img{float:left; max-width:100%}
/*.one_fourth header h4{}*/
.recent_blog .last_entry{margin-bottom:30px}
.recent_blog .first_entry{margin-top:-20px}
.recent_blog .recent_entry .tbumbnail a{margin:4px 10px 0 3px; display:block; float:left}
.recent_blog .recent_entry header{float:right; width:74.55%}
.recent_blog .recent_entry h4{font-family:Arial,Helvetica,sans-serif!important; font-size:1em; line-height:1.4em; text-shadow:none}
 
/*tweet_list*/
.tweet_list{padding:0; margin:0 0 0 0px; clear:both}
.tweet_list li{list-style:none; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #d5d2cc;}
.tweet_list li .date, .recent_blog li .blog_content .meta{text-transform:uppercase; margin-bottom:10px; display:block; color:#aaa; font-size:.8em}

/* flickr */
#flickr_badge_wrapper{margin-left:-14px}
.flickr_badge_image a{float:left; background:url(light-images/strife_bg2.gif) repeat; padding:4px; /*border:1px solid #d9d9d9; */margin:0 0 20px 14px; font-size:12px}
.flickr_badge_image a img{width:50px; height:50px; float:left}

/* copyright */
#copyright{
  float:left; 
  width:100%; 
  padding:10px 0 10px 0; 
  font-size:12px; 
  text-align:center;
  border-top:1px solid #232425;
  color: #6F7478;
  background: #28292A;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
}
#copyright .alignleft {float:left;margin:0;}
#copyright .alignright {float:right;margin:0;}
#copyright .links ul {margin:0;}
#copyright .links ul li {display:inline-block;margin-left:5px;}
#copyright .links ul li a {color:#6F7478;}
#copyright .links ul li a:hover {color:#FFF;}

#footer_content .one_fourth .button_wrap{clear:both}

/*inner page content */
/*content*/
#content{ width:70%; position:relative; margin-right:5%; float: left; }

.full_width{width:100%!important; margin-right: 0px!important;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{font-weight: bold; color:#000; margin-bottom:20px;}
#content h1{font-size:3em}

#content h2{font-size:2.7em; padding-bottom:15px; margin-bottom:30px;}
#content h3{font-size:2em}
#content h4{font-size:1.9em}
#content h5, 
#content h6{font-size:1.5em}
#content blockquote{padding:20px; background:#f5f5f5; margin-bottom:20px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px}
#content blockquote p{margin:0; padding:0}

/*services*/
.service{float:left; width:100%; margin-bottom:20px}
.service img{float:left; width:15.9349593495935%; margin-top:48px}
.service div{float:right; width:81.30081300813008%}

/*sidebar*/
#sidebar{width:25%; float:right; margin-top:30px; }
#sidebar .sidebox{float:left; width:100%;}
#sidebar .sidebox h3{background:url(light-images/content_bg.gif) repeat-x; padding-top:20px; margin:0 0 20px 0; font-size:1.75em }
#sidebar ul, 
#sidebar ol{margin:0}
#sidebar ul li, 
#sidebar ol li{list-style:none}

/*Side Menu*/
.side_menu{border-top:1px solid #e6e4e1; float:left; width:100%; padding-bottom:20px; }
.side_menu li a{padding:7px 0; border-bottom:1px solid #e6e4e1; background:url(light-images/tiny_arrow.gif) no-repeat 5px 50%; width:92%; float:left; color:#b3afa8; padding-left:8%}
.side_menu li a:hover{color:#575552}
.side_menu li.active a{font-weight:bold; color:#000}

/* portfolio with sidebar */
#portfolio a.thumb, #portfolio ul a.thumb{background:url(light-images/magnifying_glass_16x16.png) no-repeat 50% 50%; float:left}
ul.display{margin:-20px 0 0 0; padding:0; list-style:none; float:left}
ul.display li{margin:0; padding:0}
ul.display li .content_block{ float:left;   width:100%;  display:block; padding:20px 0;   border-bottom:1px solid #e8e6e3}
ul.display li:last-child .content_block{ border-bottom:none; }
ul.display li .content_block .role{display:block; margin-top:10px; font-size:11px; text-transform:uppercase; color:#bcbcba}
ul.display li .content_block .role span{background:url(light-images/check_12x10.png) no-repeat left 50%; padding-left:15px; margin-right:10px}
ul.display li .content_block .project_detail{float:right; width:60.15040650406504%;}
ul.display li .content_block h4, ul.display_thumbnail li h4{ font-weight:normal; padding:0; margin:10px 0 0 0; font-family:Arial,Helvetica,sans-serif; font-size:14px!important}
ul.display li .content_block a{width:35.77235772357724%; margin:0 0 10px 0}
ul.display li .content_block a img{ margin:0; float:left; max-width:100%; padding:0;}

/* block */
ul.thumb_view {width:105%; float:left; margin-left:-4%;}
ul.thumb_view li{display:inline; float:left; /*width:180px;*/ width:28.96107382550336%; margin:0 0 0 4%;}
ul.thumb_view li p{display:none}
ul.thumb_view li .content_block{border-bottom:none; padding:20px 0;}
ul.thumb_view li .content_block .project_detail{width:100%}
ul.thumb_view li a.thumb{margin:0 0 10px 0; width:100%;}
ul.thumb_view li a img{max-width:100%; float:left}

.switch_container{position:absolute; margin:-80px 29px 0 0; right:0}
.switch_container a.switch_thumb, 
.switch_container a.switch_thumb:hover{ width:70px; height:19px; line-height:26px; padding:0; margin:10px 0; display:block; background:url(light-images/switch.png) no-repeat;  outline:none;  text-indent:-9999px}

.switch_container a.swap, 
.switch_container a.swap:hover{background-position:left bottom}

/* portfolio without sidebar  */
ul.display_thumbnail{max-width:952px; float:left; /*margin-top:20px;*/}
ul.display_thumbnail li{display:inline; float:left;}
ul.two_col li{  margin:0 0 30px 2.64042553191489%; width:47.3%; }
ul.three_col li{  margin:0 0 30px 2.44042553191489%; width:30.8%; }
ul.four_col li{  margin:0 0 30px 2.54042553191489%; width:22.4%; }
ul.display_thumbnail li h4{clear:both}
ul.display_thumbnail li p{width:100%; }
ul.display_thumbnail li a.thumb{float:left; margin:0 0 10px 0; width:100%; }
ul.display_thumbnail li a.thumb img{max-width:100%; float:left; margin-bottom:7px; }

/* themes showcase */
.showcase {
  background: none repeat scroll 0 0 #F8F9F9;
  border-radius: 3px 3px 3px 3px;
  float: left;
  margin: 0 40px 40px 0;
  position: relative;
  width: 270px;
}

.showcase-info {
  padding: 6px 8px 12px 12px;
}

.showcase-info h2 {
    padding: 0px !important;
}

.showcase-info p {
  padding: 0px;
  margin: 0px;
}

.showcase-info:hover {
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.showcase-info {
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.showcase:nth-child(4n+1) {
  margin-right: 0;
}

.showcase-display {
  background: none repeat scroll 0 0 #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 200px;
  margin: 0 0 20px 0;
  width: 270px;
}

.showcase-box {
  border-top: 1px solid #EEEEEE;
  box-shadow: 0 1px 2px 0 #999999;
}

.showcase-box img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 200px;
  width: 270px;
}

.showcase a {
  background: url("light-images/theme-overlay.png") no-repeat scroll 0 0 transparent;
  height: 200px;
  width: 270px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.showcase-box:hover {
  box-shadow: 0 1px 3px 0 #3b6e8f;
  cursor:pointer
}

.showcase-info h2 {
	font: 300 16px/24px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 0;
  padding: 0 !important;
  margin: 0 0 10px !important;
}

/*blog*/
.post {width:100%; padding-bottom:40px; border-bottom:1px solid #dfdfdf; float:left; margin-bottom:40px; }
.post .postThumb{float:left; width:17.85714285714286%; }
.post .inside{float:right; width:78.24675324675325%;}
.post h2, .post h3, .post h4, .post h5{ font-family:Georgia, "Times New Roman", Times, serif; border-bottom:none!important; margin:0!important; padding:0 0 20px 0!important; font-weight:normal!important;}
.post h2.blog_title{ margin:0 0 4px 0!important; padding:0!important; font-size:2.575em!important;  font-style:italic; border-bottom:none!important;}
.post h2{ font-size:1em; padding-bottom:20px; }
.post h4{ font-size:1.5em!important;}
.post .meta{ font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; padding-bottom:20px; font-size:13px;}
.no_bottom_border{ border-bottom:none!important; margin:0!important; padding:0!important; }
#commentBox{  border-top:1px solid #dfdfdf; margin-top:20px; float:left;}

/*====================================
COMMENTS
=====================================*/
#comments{position:relative; margin:30px 0 0px 0px; width:100%; padding:0px 0 0 0}
#comments ul{list-style:none; margin:0 0 30px 0;}
#trackbacks{margin:30px 0 0 40px}
ol#commentslist{margin:0 0 0 0px; list-style:none; padding:0}
#commentslist .children li{padding:15px 0 0 30px; background:transparent url(light-images/comment_marker.gif) no-repeat 0px 26px; border-left:1px solid #e3e3e3}
.comment{position:relative; margin:0 0 0 0; padding:0 0 20px 0}
.comment .avatar{position:absolute; left:0; top:0}
#commentForm{ margin:0; padding:0;}
#commentForm h3{font-size:19px; }
#commentForm label{ }
.comment h5{font-size:16px; margin:0px!important; padding:0!important; font-weight:normal!important;}
.comment .date{margin:0 0 20px 0px; display:block; color:#a5a5a2; font-family:"Droid Serif",Georgia,Times,"Times New Roman",serif; font-style:italic}
.comment p{margin:0 0 10px 0px}
.comment-reply-link, 
.comment-reply-login{margin:0 0 0 0px}
.comment-reply{display:inline-block!important; padding:0 0 0 10px}
#comment-add{position:absolute; top:-5px; right:0px}
.moderation{margin:0px; padding:0 0 10px 25px}
#trackbacks ul{margin:-5px 0 15px}
#trackbacks ul li{padding:5px 0 5px 20px}
#commentForm{position:relative; margin:0px 0 30px 0px;  border-top:1px solid #dfdfdf; padding-top:30px; width:100%;}
#comments #respond{position:relative; padding:0 0 0; margin:0}
#respond .form-allowed-tags{display:none}
#respond form{ position:relative;}
.cancel-comment-reply{float:right; margin:5px 90px 0 0}
#commentForm textarea{width:90% !important;}
#commentForm textarea, #commentForm input, .contactForm textarea, .contactForm input{ border:none; background:#e2e2e2; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px; padding:9px  7px; font-family:Arial, Helvetica, sans-serif; margin-bottom: 10px; }
#commentForm textarea:focus, #commentForm input:focus, .contactForm textarea:focus, .contactForm input:focus,
#commentForm textarea:hover, #commentForm input:hover, .contactForm textarea:hover, .contactForm input:hover{background:#ededed; }
#commentForm input, .contactForm input{ width:50%;}
#commentForm textarea, .contactForm textarea{ width:70%;}
#contactForm p{ margin-bottom:0!important;}

#commentForm #submit, #submit{ cursor:pointer; width:20%; -webkit-border-radius:0px; -moz-border-radius:0px; -o-border-radius:0px; border-radius:0px; margin-bottom:20px!important;}
#comments input[type="text"]{width:70%; margin-right:20px; }

/*====================================
TYPE
=====================================*/
h1, h2, h3, h4, h5, h6, nav, .big_button{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
/*--- HEADINGS ---*/
h1{font-size:2.8em; /* 40px */margin-bottom:0.75em; /* 24px */line-height:1.5; /* 48px */ font-weight: bold; letter-spacing: -1px;}
h2{font-size:2.5em; /* 33px */margin-bottom:.75em; /* 24px */line-height:1; /* 24px */}
h3{font-size:1.9em; /* 24px */margin-bottom:1.2em; /* 24px */line-height:1.2; /* 24px */}
h4{font-size:1.25em; /* 20px */margin-bottom:1.333em; /* 24px */line-height:1.333; /* 24px */}
h5{font-weight:bold}
h5, 
h6{font-size:1em; /* 16px */margin-bottom:1.5em; /* 24px */line-height:1.5; /* 24px */}

/*--- PARAGRAPH---*/
p{margin-bottom:1.5em}
/*--- LINKS ---*/
a{text-decoration:none; color:#000;font-weight: bold;}
a:visited{/*opacity:0.8; */ /* A bit basic,but it's a bare minumum... */}
a:hover{text-decoration:none; color:#E41D3E}

/*--- LISTS ---*/
ul, 
ol{list-style: none outside none;}
ul ul, 
ol ol, 
ul ol, 
ol ul{margin:0 0 0 20px}
dl{margin-bottom:1.5em}
dt{font-weight:bold}
dt:after{content:":"}
dt::after{content:":"}
dd{margin-left:60px}
/*--- GENERAL ---*/
q, 
i, 
em, 
cite{font-style:italic; font-weight:inherit}
b, 
strong{font-weight:bold; font-style:inherit}
mark{background:#ffc}
s, 
del{text-decoration:line-through}
small{font-size:0.75em; line-height:1}
abbr, acronym{font-style:italic; cursor:pointer; color:#777}
/*--- CODE ---*/
pre, 
code{font-family:monospace; font-size:1.1em}
pre{overflow:auto; margin-bottom:1.5em; line-height:20px; /* Having to define explicit pixel values:( */}
code{line-height:1}
/*--- QUOTES ---*/
blockquote{text-indent:-0.4em; margin-left:0.4em; font-family:Georgia,"Times New Roman",Times,serif; font-style:italic; color:#9c9891}
blockquote p{line-height:1.5}
blockquote b, 
blockquote .source{margin-top:20px; display:block; text-indent:0; color:#888}

/*====================================
FORMS
=====================================*/

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], .uneditable-input {
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 9px;
  padding: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.button, #submit, .widget_search #searchsubmit, .reply .comment-reply-link {
  background-color: #5BB75B;
  background-image: -moz-linear-gradient(center top , #62C462, #51A351);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) 

}
.button,
#submit,
.widget_search #searchsubmit,
.reply .comment-reply-link {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #006DCC;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #04C #04C #002A80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.button:hover,
#submit:hover,
.widget_search #searchsubmit:hover,
.reply .comment-reply-link:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #0044cc;
}
.button:active,
#submit:active,
.widget_search #searchsubmit:active,
.button.green:active {
  position: relative;
  top: 1px;
}

.gform_wrapper input[type="text"], .gform_wrapper textarea {
    font-size: 13px !important;
    padding: 4px 6px !important;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-large [class^="icon-"] {
  margin-top: 2px;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-fresh {
  background-color: #0044CC !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0088cc), to(#0044cc));
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0088cc), color-stop(100%, #0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(#0088cc, #0044cc);
  border-color: #04C #04C #002A80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}

/*====================================
LOGO
=====================================*/

#logo{width:23.40425531914894%; float:left; margin-top:30px; text-indent:-999999px;margin-bottom: 0;}
#logo a{display:block; float:left; background:url(light-images/logo.jpg) no-repeat left; width:397px; height:34px}
#logo a:hover {opacity: 0.7;}

/*====================================
NAVIGATION
=====================================*/

#header_inner nav{width:65.96%; float:right;}
#header_inner nav ul{float:right;}
nav ul, nav ul li{margin:0; padding:0; list-style:none}
nav ul li{display:inline; margin-right: 10px;}
nav ul li a{font: 2.308em/2.850em 'OstrichSansRoundedMedium',Arial,Helvetica,sans-serif;color:#000; text-decoration:none;}
nav ul li a:hover, nav ul li.active a{color:#E41D3E; text-decoration:none; background:none; font-weight: normal;}
nav ul li.active a{color: #E41D3E;}
nav ul li li.active a{border-bottom:0px}
nav ul li li li.active a{border-bottom:0px}
li.active ul li a{border-bottom:0px; color:#ada9a1}
li.active ul li a:hover{color:#000; text-decoration:none; border-bottom:1px solid #000; background:none}

/*====================================
TOP BAR
=====================================*/

#topbar {background:none repeat scroll 0 0 #F0F0F0;font-size:12px;line-height:50px;}
#topbar .pull-right {float: right;}

/*====================================
IMAGES
=====================================*/

img{max-width:100%; height:auto; font-style:italic; color:#c00}
img.left{margin:0 20px 0 0}
img.right{margin:0 0 0 20px}

/*--- FLASH/VIDEO ---*/
object, 
embed, 
video{max-width:100%; height:auto}

/* Forms */
form p { 
  position:relative;
  margin-bottom: 0px;
 }

 form input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
 }

/*form p label  { position:absolute; top:0; left:0}*/
/*====================================
SEEARCH
=====================================*/
.search{margin-top:10px;}
.search #s{-webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; border:none; padding:8px 10px 8px 30px; width:82.72727272727273%; background:#fff url(light-images/search_icon.png) no-repeat 10px 50%; border:1px solid #e2e2e2;}


/*====================================
COLUMNS
=====================================*/
.columns{width:100%; float:left;}
.one_half{width:48%}
.one_third{width:31.91%}
.two_third{width:65.33%}
.one_fourth{width:23.40%}
.three_fourth{width:74%}
.one_fifth{width:16.8%}
.one_sixth{width:13.33%}
.two_fifth{width:37.6%}
.three_fifth{width:58.4%}
.four_fifth{width:67.2%}
.five_sixth{width:82.67%}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{position:relative; margin-right:2%; float:left;}
.last{margin-right:0 !important; clear:right}
.clearboth{clear:both; display:block; font-size:0; height:0; line-height:0; width:100%}

.keywords{list-style:none; margin:0 0 1.5em}
.keywords li{display:inline; text-transform:lowercase}
.keywords li:first-of-type{text-transform:capitalize}
.keywords li:after{content:","}
.keywords li::after{content:","}
.keywords li:last-of-type:after{content:"."}
.keywords li:last-of-type::after{content:"."}

ul.tabs{display:block; margin:0 0 20px 0; padding:0; border-bottom:solid 1px #ddd}
ul.tabs li{display:block; width:auto; height:30px; padding:0; float:left; margin-bottom:0; list-style:none}
ul.tabs li a{display:block; text-decoration:none; width:auto; height:29px; padding:0px 20px; line-height:30px; border:solid 1px #ddd; border-width:1px 0 0 1px; margin:0;  background:#f5f5f5; font-size:13px}
ul.tabs li a.active{background:#fff; height:30px; position:relative; top:-4px; padding-top:4px; border-right-width:1px; margin:0 -1px 0 0; color:#111; -moz-border-radius-topleft:2px; -webkit-border-top-left-radius:2px; border-top-left-radius:2px; -moz-border-radius-topright:2px; -webkit-border-top-right-radius:2px; border-top-right-radius:2px}
ul.tabs li:first-child a{-moz-border-radius-topleft:2px; -webkit-border-top-left-radius:2px; border-top-left-radius:2px}
ul.tabs li:last-child a{border-width:1px 1px 0 1px; -moz-border-radius-topright:2px; -webkit-border-top-right-radius:2px; border-top-right-radius:2px}

ul.tabs-content{margin:0; display:block; margin-bottom:20px}
ul.tabs-content{list-style:none}
ul.tabs-content >li{display:none}
ul.tabs-content >li.active{display:block}


ul.tabs:before, 
ul.tabs:after{ content:'\0020';  display:block;  overflow:hidden;  visibility:hidden;  width:0;  height:0}
ul.tabs:after{ clear:both}
ul.tabs{ zoom:1}

/*Pagination*/
.pagination	{ margin: 0px 10px 30px 0px; font-size: 14px; font-weight: bold;}
.pagination .current, .pagination .page, .pagination .previouspostslink, .pagination .nextspostslink	{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pagination .current	{ text-decoration: none; padding: 5px 10px; margin: 0 2px 0 2px; background:#ffdf39; color:#000;}
.pagination .page		{ text-decoration: none; padding: 5px 10px; margin: 0 2px 0 2px;}
.pagination .previouspostslink	{ padding: 5px 10px; margin: 0 2px 0 2px; text-decoration: none;}
.pagination .nextspostslink		{ padding: 5px 10px; margin: 0 2px 0 2px; text-decoration: none;}
.pagination .page:hover, .previouspostslink:hover, .nextspostslink:hover	{}


/*====================================
MEDIA QUERIES
=====================================*/
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 767px)  {
html{overflow-y:scroll; font-size:100%;font-family:Arial,Helvetica,sans-serif; line-height:1.5; background:#f5f4f2; color:#929291}
body{min-height:100%; background:url(light-images/body_bg.gif) repeat-x top; float:left; width:100%; font-size:.8em}
#slider_wrap{max-width:960px; margin:0 auto 0px auto; position:relative; clear:both; padding-left:20px; padding-right:20px; padding-bottom:14px; overflow:hidden; height:277px}
#slider, #slider img, .nivo-slice, .nivoSlider, .nivoSlider img, .nivo-slice img{max-width:710px; min-width:480px; max-height:247px; display:block}
.top_social_wrap{width:167px; margin:0 auto}
#logo{float:none; width:100%; margin:30px auto 0 auto}
#logo a{display:block; background:url(light-images/logo.jpg) no-repeat left; height:100%;}

#header_inner nav{width:100%; text-align:center;}
#header_inner nav ul{width:100%; text-align:center; margin-bottom:10px}
#header_inner nav ul li a{padding:.2em .5em; color:#ada9a1}
#header_inner nav ul li a:hover, #header_inner nav ul li.active a{color:#000}
#header_inner nav .sf-menu li ul{
	display:none;
	}

.featured_service div{width:100%}
.intro .intro_text{width:100%; display:block; float:none; text-align:center; margin-bottom:20px}
.intro .button{float:none; max-width:173px; height:40px; margin:0 auto}

#footer_content .one_fourth{width:100%}
#footer_content .one_fourth .button_wrap{clear:both}

#content{width:92%; padding:6% 4% 0% 4%}
#sidebar{clear:both; width:100%}
.search #s{width:93%}

/*ul.thumb_view{ float:left; margin-left:20x; margin-top:10px}*/
ul.thumb_view {width:106.4%; float:left; margin-left:-4%x; }
ul.thumb_view li{display:inline; float:left; /*width:180px;*/ width:28.96107382550336%; margin:0 0 0 4%;}

/* portfolio without sidebar  */
ul.display_thumbnail{  width:100%; }
/*ul.display_thumbnail li{ float:left; margin:0 0 20px 20px; border-bottom:1px solid #ccc; padding:0 0 20px 0; width:100%;}*/
ul.two_col li, ul.three_col li, ul.four_col li{float:left;  margin:0 0 20px 20px; border-bottom:1px solid #ccc; padding:0 0 20px 0; }
ul.two_col { width:103%; margin-left:-2.44042553191489%; }
ul.two_col li{ margin:0 0 30px 2.44042553191489%; width:47.3%; }
ul.three_col { width:110%;}
ul.three_col li{ margin:0 0 30px 3.84042553191489%; width:43.3%; }
ul.four_col { width:110%;  margin-left:-4.24042553191489%; }
ul.four_col li{  margin:0 0 30px 4.24042553191489%; width:27%;}
ul.display_thumbnail li a.thumb{ width:100%; }
ul.display_thumbnail li a.thumb img{max-width:100%;}

/*blog*/
.post{width:100%; padding-bottom:40px; border-bottom:1px solid #dfdfdf; float:left; margin-bottom:40px; }
.post_thumb{display:none;}
.post .inside{float:left; width:100%;}

#commentForm{position:relative; margin:0px 0 30px 0px;  border-top:1px solid #dfdfdf; padding-top:30px; padding-top:30px 0 0 0; width:100%; }
#commentForm textarea{ width:100%;}
#commentForm input{ width:40%; }
#comments input[type="text"]{width:50%; margin-right:0px; }
}

@media handheld and (max-width: 479px), screen and (max-device-width: 479px), screen and (max-width: 479px)  {
html{overflow-y:scroll;font-size:100%; font-family:Arial,Helvetica,sans-serif; line-height:1.5; background:#f5f4f2; /*background:#f00; */color:#929291}
body{min-height:100%; background:url(light-images/body_bg.gif) repeat-x top; float:left; width:100%; font-size:.8em}
#slider_wrap{max-width:940px; margin:0 auto 0px auto; position:relative; clear:both; padding-left:20px; padding-right:20px; padding-bottom:14px; overflow:hidden; height:207px}
#slider, #slider img, .nivo-slice, .nivoSlider, .nivoSlider img, .nivo-slice img{max-width:400px; min-width:200px; max-height:247px; display:block}
.top_social_wrap{width:167px; margin:0 auto}
#logo{float:none; width:100%; margin:30px auto 0 auto}
#logo a{display:block; background:url(light-images/logo.jpg) no-repeat left; height:100%;}
#header_inner nav{width:100%}
#header_inner nav ul{width:100%; text-align:center; margin-bottom:10px}
#header_inner nav ul li{float:none; display:block}
#header_inner nav ul li a{float:left; width:93%; padding:.2em .5em; color:#ada9a1}
#header_inner nav ul li a:hover, #header_inner nav ul li.active a{color:#000}
#header_inner nav .sf-menu li ul{
	display:none;
	}
.featured_service div{width:100%}
.intro .intro_text{width:100%; display:block; float:none; text-align:center; margin-bottom:20px}
.intro .button{float:none; max-width:173px; height:40px; margin:0 auto}
#footer_content .one_fourth{width:100%}
#footer_content .one_fourth .button_wrap{clear:both}

.top_social_wrap,  .nivo-controlNav{display:none}
.thumb_list li{width:44%; margin-right:7.5%; margin-bottom:5%}
.thumb_list li.second, 
.thumb_list li.fourth{margin-right:0}

#content{width:92%; padding:8% 4% 0% 4%}
#sidebar{clear:both; width:100%}

.service img{float:left; width:15.9349593495935%; display:none}
.service div{float:right; /*width:81.30081300813008%; */width:100%}


ul.display li .content_block .project_detail{width:60.15040650406504%; width:100%;}
ul.display li{width:100%; float:left;}
ul.display li .content_block a{width:100%; height:100%;}

/*ul.thumb_view{max-width:479px; float:left; margin-left:0px; margin-top:10px}
ul.thumb_view li a.thumb img, ul.display li a.thumb img{ max-width:100%; }*/
ul.thumb_view {width:100%; float:left; margin-left:0; }
ul.thumb_view li{display:inline; float:left; /*width:180px;*/ width:94%;}
ul.thumb_view li a{ max-width:220px; }

/* portfolio without sidebar  */
ul.display_thumbnail{  width:100%; }
ul.two_col li, ul.three_col li, ul.four_col li{float:left;  margin:0 0 20px 20px; border-bottom:1px solid #ccc; padding:0 0 20px 0; }

ul.two_col { width:102%; margin-left:-2.44042553191489%; }
ul.two_col li{ margin:0 0 30px 2.44042553191489%; width:97%;}

ul.three_col { width:100%; margin-left:0;}
ul.three_col li{ margin:0 0 30px 4.84042553191489%; width:90%;  }

ul.four_col { width:107%;  margin-left:-2.24042553191489%;}
ul.four_col li{  margin:0 0 30px 2.24042553191489%; width:46%;}

ul.display_thumbnail li a.thumb{ width:100%; }
ul.display_thumbnail li a.thumb img{max-width:100%;}

/*blog*/
.post{width:100%; padding-bottom:40px; border-bottom:1px solid #dfdfdf; float:left; margin-bottom:40px; }
.post_thumb{display:none;}

/*blog*/
.post{width:100%; padding-bottom:40px; border-bottom:1px solid #dfdfdf; float:left; margin-bottom:40px; }
.post_thumb{display:none;}
.post .inside{float:left; width:100%;}

#comments{position:relative; margin:30px 0 0px 0px; width:100%;  padding:0px 0 0 0}
ol#commentslist{margin:0 0 0 0px; list-style:none; padding:none; padding:0;}
#commentslist .children li{padding:15px 0 0 0px; background:none; border-left:none; width:100%;}

#commentForm{position:relative; margin:0px 0 30px 0px;  border-top:1px solid #dfdfdf; padding-top:30px; padding-top:30px 0 0 0; width:100%; }
#commentForm textarea{ width:100%;}
#commentForm input{ width:60%; }
#comments input[type="text"]{width:50%; margin-right:0px; }
}


.recent_blog .recent_entry { float:none; }
.button_wrap { margin-bottom:50px; }
.sidebox .recent_blog .recent_entry {border-bottom:0px; margin-bottom:-25px;}
.sidebox .recent_blog .recent_entry h4 {margin-top:5px;border-bottom:1px solid #d5d2cc; min-height:60px;}
.sidebox .button_wrap { margin-top:15px; }

div.recent_tweet ul li:last-child {border-bottom:0px;}
div.recent_tweet ul li {padding:0; margin-bottom:15px;}

.portfolio_content_block .role span {background:url(light-images/check_12x10.png) no-repeat left 50%; padding-left:15px; margin-right:10px}

form#commentform { margin-bottom:50px; }

/* EXTRAS */
.wpb_separator, .vc_text_separator {
  border-bottom: 1px solid #E3E3E8 !important;
}

.theme-intro {
  min-height: 100px;
  width: 70%;
  float: left;
}

.theme-links {
  border-left: 1px solid #E3E3E8;
  float: right;
  margin: 0;
  padding-left: 55px;
  width: 254px;
}

.theme-links a.demo {
  background: url("light-images/demo-buy.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 110px;
  text-indent: -9999px;
  width: 110px;
}

.theme-links a.buy {
  background: url("light-images/demo-buy.png") no-repeat scroll -130px 0 transparent;
  display: block;
  float: left;
  height: 110px;
  text-indent: -9999px;
  width: 110px;
  margin-left: 34px;
}

.theme-links a.demo:hover { 
  background-position: 0 100%; 
  z-index: 5; 
}

.theme-links a.buy:hover { 
  background-position: -130px 100%; 
  z-index: 5; 
}

.theme-subtitle {
  color: #AEAEAE;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
}

.theme-display {
  background: url("light-images/theme-display.png") no-repeat scroll 50% 0 transparent;
  height: 668px;
  position: relative;
  width: 100%;
  margin-top: 55px;
}


.theme-display-img img {
  background: url("http://gti.themezilla.com/wp-content/themes/themezilla/images/browser.png") repeat-x scroll 0 0 transparent;
  display: block;
  padding-top: 7px;
}

.theme-display-img {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 1;
  transition: opacity 200ms linear 0s;
  z-index: 10;
  width: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

.theme-display-content {
  width: 70%;
  margin-right: 5%;
  float: left;
  margin-top: 30px;
}

.theme-display-details {
  background: none repeat scroll 0 0 #F8F9F9;
  border-radius: 3px 3px 3px 3px;
  color: #414141;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
  padding: 20px 30px;
  position: relative;
  width: 20%;
  float: right;
  margin-top: 30px;
}

.theme-display-details p {
  margin-bottom: 2px;
}

.su-list-style-check p {
  margin: 0px;
}

/*====================================
ICONS
=====================================*/

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("light-images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("light-images/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}