.login { 
	width:388px;
	margin: 0 auto;
}

#loginform, #lostpasswordform, #registerform {
  background-color: #F7F6F6;
  border: 1px solid #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding: 35px 30px;
  width: 388px;
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -ms-box-sizing:border-box; 
  -o-box-sizing:border-box; 
  box-sizing:border-box;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.profile {
	width:600px;
}

.profile textarea {
	width: 100%; 
	margin-bottom: 16px; 
	border: none;
	outline: none;
	padding: 5px;
	line-height: 1;
	color: #555555;
  font-size: 24px;
  font-weight: 200 !important;
  border: 1px solid #e5e5e5;
	background: #fbfbfb;
	outline: none;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	border-radius: 4px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

.login form .input, .login input[type="text"] {
	width: 100% !important;
	margin-bottom: 16px !important; 
	border: none !important;
	outline: none !important;
	padding: 3px !important;
	line-height: 1 !important;
	color: #555555 !important;
  font-size: 24px !important;
  font-weight: 200 !important;
  border: 1px solid #e5e5e5 !important;
	background: #fbfbfb !important;
	outline: none !important;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2) !important;
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2) !important;
	border-radius: 4px !important;
	-webkit-box-sizing:border-box !important; 
	-moz-box-sizing:border-box !important; 
	-ms-box-sizing:border-box !important; 
	-o-box-sizing:border-box !important; 
	box-sizing:border-box !important;
	height: 37px !important;
}

input:focus { 
	border-color: #AAAAAA;
	font-weight: 100; 
}

.tml-action-links {
	margin-top: 16px;
	margin-left: 0px;
	list-style: none outside none;
  padding: 0;
}